<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layouts/base.html" %}

    {% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias tempore eum fugit blanditiis quo sapiente consequatur eius perspiciatis facilis excepturi eaque impedit, repudiandae adipisci doloremque libero neque voluptas, consequuntur sequi fugiat amet corrupti velit dolorem commodi? Necessitatibus illo consequuntur et nobis dignissimos cupiditate quae deserunt labore consequatur ullam doloribus velit aliquid blanditiis debitis, quod in quo. Eaque dolorum earum aut? Cupiditate doloremque corrupti tenetur maxime omnis, dolores hic unde animi pariatur debitis, recusandae possimus ad! Aperiam provident, blanditiis nostrum architecto iste molestiae aut nobis rerum corrupti, sunt a harum nulla pariatur quam amet! Repellat voluptatem facilis vitae ut nesciunt.</p>

    {% endblock %}
</body>
</html>